@page
@model camagruApp.Views_UploadImage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Img</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Img.img)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Img.img)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Img.userid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Img.userid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Img.dateposted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Img.dateposted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Img.caption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Img.caption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Img.likes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Img.likes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Img.comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Img.comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Img.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
